.field-widget-taxonomy-hierarchical-select .form-item.form-type-select {
  float: left;
  margin-right: 10px;
}

.field-widget-taxonomy-hierarchical-select .ajax-progress-throbber {
  position: absolute;
  right: 10px;
  margin-top: 5px;
}

.field-widget-taxonomy-hierarchical-select {
  position: relative;
}

.field-widget-taxonomy-hierarchical-select table.field-multiple-table tr.deleted,
.field-widget-taxonomy-hierarchical-select .js-thw-delete-processed .form-type-checkbox .form-checkbox,
.field-widget-taxonomy-hierarchical-select .js-thw-delete-processed .form-type-checkbox label,
.field-widget-taxonomy-hierarchical-select .warning {
  display: none;
}
